@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-100 text-stone-800;
  }
}

@layer components {
  .listing {
    @apply
      bg-white border
      border-white
      p-4
      shadow
      focus:outline-none;
  }

  .listing-interactive {
    @apply
      hover:border-stone-400
      hover:shadow-md
      focus:border-stone-800
      focus:shadow-lg;
  }

  .flat-button {
    @apply
      bg-transparent
      p-4
      font-semibold
      text-sky-700
      hover:bg-black/5
      focus:bg-black/10
      focus:outline-none
      disabled:text-gray-700
      disabled:bg-transparent;
  }

  .input {
    @apply
      bg-white
      p-4
      block
      w-full;
  }
}

:root {
  display: grid;
  height: 100vh;
  height: 100dvh;
}